
<html lang = "en">
  <head>
    <title>formDemo.html</title>
    <meta charset = "UTF-8" />
  </head>
  <body>
    <h1>Friends Tab</h1>

    
    
	
	<mat-form-field>
      <mat-label>Search Friend</mat-label>
      <input matInput [(ngModel)]="friend" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
	<button mat-raised-button  (click)="handleClick()" >Search</button>
	
	
	
	<p>
	<h2> friends: </h2>
	
	<mat-card *ngFor ="let friend of friendlist">
	  <mat-card-header >
		<mat-icon mat-card-avatar class="header-image"></mat-icon>
		<mat-card-title class="me-name"> {{friend.name}}</mat-card-title><br><br>
		<mat-card-subtitle class="score">{{friend.risk}}</mat-card-subtitle>
	  </mat-card-header>
	  
	  <mat-card-content class="list-info">
		<ul>
			<li>{{friend.whatever}} </li>
		</ul>
	  </mat-card-content>
	  
	</mat-card>
  </body>
</html>


