<h1>Login</h1>
<form (submit)="$event.preventDefault()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="loginAttempt(this.email, this.password)">Submit</button>
  </form>