

<div *ngIf="isIn === 'true'">
			<mat-card class="card">
			  <mat-card-header >
				<mat-icon mat-card-avatar class="header-image"></mat-icon>
				<mat-card-title class="me-name">{{name}}</mat-card-title><br><br>
				<mat-card-subtitle class="score">RiskScore</mat-card-subtitle>
			  </mat-card-header>
			  
			  <mat-card-content class="list-info">
				<ul>
					<li>Email: {{userEmail}} </li>
					<li>Age: {{age}} </li>
				</ul>
			  </mat-card-content>
			</mat-card>					
</div>


<div *ngIf="isIn === 'false'">

<mat-card class="logCard">
  <p>You're not signed in. Login or Create an Account to view your profile.</p>
  <span>Already a member?<a mat-button (click)="openDialogLogin()">Login</a></span><br>
  <span>New member?<a mat-button (click)="openDialogSignup()">Sign up</a></span>
</mat-card>	
</div>


