<mat-toolbar color="primary">
    <h1>COVID Tracker</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink='app-me'> Me </a>
      <a mat-button routerLink='app-friends'> Friends </a>
      <a mat-button routerLink='app-global'> Global </a>
      <a mat-button (click)="openDialogLogin()"> Login  </a>
      <a mat-button (click)="openDialogSignup()"> Sign Up  </a>
      <a mat-button (click)="signOut()" style="margin-left: 650px;"> Sign out </a>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
