<h1>Sign Up</h1>
<form (submit)="$event.preventDefault()">
    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput (cdkAutofill)="firstNameAutofilled = $event.isAutofilled">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input matInput (cdkAutofill)="lastNameAutofilled = $event.isAutofilled">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput (cdkAutofill)="lastNameAutofilled = $event.isAutofilled">
      </mat-form-field>
      <br>
    <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput (cdkAutofill)="lastNameAutofilled = $event.isAutofilled">
      </mat-form-field>
      <br>
    <button mat-raised-button>Submit</button>
  </form>